.git
.gitignore
.gitattributes
.github
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
LICENSE
AGENTS.md
PULL_REQUEST_TEMPLATE.md
hadolint.yaml
trivy.yaml
dive-ci.yml
.editorconfig
Dockerfile.template
.dockerignore
cosign.pub
*.json
*.toml
example.conf
.DS_Store
Thumbs.db
