* text=auto

*.md text eol=lf diff=markdown linguist-documentation
CODE_OF_CONDUCT.md text eol=lf diff=markdown
CONTRIBUTING.md text eol=lf diff=markdown
README.md text eol=lf diff=markdown
SECURITY.md text eol=lf diff=markdown
PULL_REQUEST_TEMPLATE.md text eol=lf diff=markdown

LICENSE text eol=lf

*.conf text eol=lf linguist-language=nginx diff=nginx
*.toml text eol=lf linguist-language=TOML
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf

*.template text eol=lf linguist-language=Dockerfile
Dockerfile.template text eol=lf

.github/**/* text eol=lf
.github/ISSUE_TEMPLATE/*.md text eol=lf diff=markdown
.github/ISSUE_TEMPLATE/config.yml text eol=lf
.github/workflows/*.yml text eol=lf linguist-generated=false
.github/workflows/*.yaml text eol=lf linguist-generated=false

dependabot.yml text eol=lf
.dependabot/**/* text eol=lf

trivy.yaml text eol=lf merge=union
hadolint.yaml text eol=lf merge=union
dive-ci.yml text eol=lf merge=union
codeql.yml text eol=lf

nginx.conf text eol=lf diff=nginx working-tree-encoding=UTF-8
default.conf text eol=lf working-tree-encoding=UTF-8
example.conf text eol=lf working-tree-encoding=UTF-8
nginx-seccomp.json text eol=lf

*.pub binary
cosign.pub binary
